{% extends "base.html" %}
{% load materializecss %}


{% block container %}
<ul class="collapsible popout" data-collapsible="accordion">
  {% for item in data %}
    <li>
      <div class="collapsible-header"><i class="material-icons">settings</i>{{item.list2.name_type}}</div>
      <div class="collapsible-body">
            <table>
              <thead>
                <tr>
                    <th data-field="id">Quantidade</th>
                    <th data-field="name">Valor Unitário</th>
                    <th data-field="price">Valor gerado</th>
                </tr>
              </thead>
                <tbody>
                  <tr>
                    <td>{{item.list1}}</td>
                    <td>{{item.list2.value}}</td>
                    <td>{{item.list3}}</td>
                  </tr>
                </tbody>
              </table>
      </div>
    </li>
    {% endfor %}
{% endblock container %}

