{% extends "base.html" %}
{% load staticfiles %}



{% block navbar %}
  <nav>
    <ul class="letf hide-on-med-and-down">
      <a href="#" class="brand-logo right"><img width='200px' src="{% static 'logo-top1.png' %}"></a>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    <ul id="slide-out" class="side-nav fixed" style="width: 240px;">
      <li><a link={% url "Add_employee" %}>Adicionar Funcionario</a></li>
      <li><a link={% url "Add_service" %}>Adicionar Serviço</a></li>
      <li><a link={% url "Performace_employee" %}>Desempelho dos Funcionarios</a></li>
      <li><a link={% url "Report_services" %}>Relatorios dos Serviços</a></li>
      <li><a href={% url "logout" %}>Sair</a></li>
    </ul>
  </nav>
  
{% endblock navbar %}



{% block container %}

  <div class="row">
    <div class="">
      <div class="container"  id="container_app">
             
      </div>
    </div>
  </div>
      

  
{% endblock container %}



{% block footer %}

  <footer class="page-footer offset-">
    <div class="footer-copyright">
      <div class="container">
      © 2015 AnyBike
        <a class="grey-text text-lighten-4 right" href="#!">Projets APS</a>
      </div>
    </div>
  </footer>
  <div id="load" hidden>
    <div class="progress">
      <div class="indeterminate"></div>
    </div>
  </div>
{% endblock footer %}       
      
      



<li class="bold"><a href="#" class="waves-effect waves-teal">Adicionar Funcionários</a></li>
          <li class="bold"><a href="#" class="waves-effect waves-teal">desempelho Funcionários</a></li>
          <li class="bold"><a href="#" class="waves-effect waves-teal">Informações Serviços</a></li>
          <!-- <li class="no-padding">
            <ul class="collapsible collapsible-accordion">

              <li class="bold collapsible-header "><a class=" waves-effect waves-teal">Informações</a>
                <div class="collapsible-body">
                  <ul>
                    <li><a href="#">Funcionarios</a></li>
                    <li><a href="#">Serviços</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </li> -->
