{% extends "base.html" %}
{% load staticfiles %}



{% block navbar %}
  <nav>
    <ul class="letf hide-on-med-and-down">
      <a href="#" class="brand-logo right"><img width='200px' src="{% static 'logo-top1.png' %}"></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a link={% url "Add_client" %}>Adicionar Cliente</a></li>
        <li><a link={% url "Add_order_service" %}>Adicionar Ordem de Serviço</a></li>
        <li><a link={% url "login" %}>Área do Gerente</a></li>
      </ul>
    </ul>
    <ul id="slide-out" class="side-nav">
        <li><a link={% url "Add_client" %}>Adicionar Cliente</a></li>
        <li><a link={% url "Add_order_service" %}>Adicionar Ordem de Serviço</a></li>
        <li><a link={% url "login" %}>Área do Gerente</a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  </nav>
{% endblock navbar %}



{% block container %}
  <div class="container" id="container_app" >        
  </div>
{% endblock container %}



{% block footer %}
  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
      © 2015 AnyBike
        <a class="grey-text text-lighten-4 right" href="#!">Projets APS</a>
      </div>
    </div>
  </footer>
  <div id="load" hidden>
    <div class="progress">
      <div class="indeterminate"></div>
    </div>
  </div>
{% endblock footer %}       
      
      

